<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<title>Backbone.js Library</title>
<link rel="stylesheet" href="css/screen.css">
</head>
<body>
<script id="msgTemplate" type="text/template">
	<td class="ts"><span id="sender"><%= sender %></span></td>
	<td class ="tm"></td><td><span id="mess"><%= message %></span> </td>
	<td class ="tt"><span id="time"> <%= time %> </span></td>
</script>
<script src="js/lib/jquery-1.11.0.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="js/lib/backbone.js"></script>
<script src="js/models/message.js"></script>
<script src="js/collections/messages.js"></script>
<script src="js/views/message.js"></script>
<script src="js/views/messages.js"></script>
<script src="js/app.js"></script>

<table cellspacing="4px" id="messages" border="0" width="90%">

</table>

<tr id="msgContainer">
</tr>
<div id="messagees">
</div>


</body>
</html>
